.jumbotron{
  min-height: 300px;
}

.wrapper{
    text-align: center;
}
.btn-group{
  position: absolute;
  top: 100%;
}
header{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)),url(../images/datacenter.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
#teetle{
  color: white;
  text-align: center;
}
.hero{
  position: absolute;
  width: 1140px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

 .navbar-header{
    width: 100%;
    position: fixed;
    display: block;
    //background-color: #FFC414;  //prevent overlapping
    top: 0;
    left: 0;
    z-index: 9999;               //also prevent overlapping
 }

#title{
  color: black;
text-align: left;
}
.a{
  font-family: Times New Roman;
}

@media only screen and (min-width : 1200px) {

    .container { width: 1500px; }

}
#body{
  background-color: #F1F1F1;
}
.contain{
  background-color: #DCDCDC;
}
.contain1{
  background-color: white;
}
.jumbotron{
  background-color: #F1F1F1;
}
.card-img-top{
height: 400px;
opacity: 1;
bottom: 0;
width: 100%;
}
#title1{
  font-style: italic;
  color: black;
  font-size: 24px;
}
#title2{
//  font-style: italic;
  color: black;
  font-size: 20px;
  text-align: left;
}
p{
  font-family: Noto Sans, sans-serif;
  font-size: 20px;
}
#contain1{
  background-color: white;
}
#content{
  background-color: #F1F1F1;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.a{
  font-family: "Times New Roman";
}
#button{
  color: black;
  align-content: center;
}
#android {
    /* Add shadows to create the "card" effect */
    box-shadow: 5px 10px 18px #888888;
    transition: 0.3s;
}
#cloud9{
  /* Add shadows to create the "card" effect */
  box-shadow: 5px 10px 18px #888888;
  transition: 0.3s;
}
* {
    box-sizing: border-box;
}



.heading {
    font-size: 25px;
    margin-right: 25px;
    padding-left: 100px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
    padding-left: 100px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
.pad{
  padding-left: 100px;
}
.side-right{
  padding-right: 200px;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}
.navbar-header{
    width: 100%;
    position: fixed;
    display: block;
    //background-color: #FFC414;  //prevent overlapping
    top: 0;
    left: 0;
    z-index: 9999;               //also prevent overlapping
 }

.comment{
  padding-left: 40px;
}
#textboxid
{
  height:200px;
  font-size:14pt;
}
input{
font-size: 22px;
margin-top: auto;
}
